<!-- <div class="row">
  <center><h1 class="ribbon">χαιρετισμούς !</h1></center>
</div> --><!--row-->

<h1 class="ribbon">
   <strong class="ribbon-content">χαιρετισμούς από Sia και αίγες της!</strong><br><span class="tag">(Greetings from Sia and Her Goats!)</span>
</h1>

<div class="row">
  <div class="imgholder">
    <div class="sia-img">
    <%= image_tag @siapic %>
    </div><!--sia-img-->
    <div class="goat-img">
      <%= image_tag @goatpic %>
    </div><!--goat-img-->
    <%= image_tag "goatlogo.png" , class: "logo" %>
    <div class="caption">
      <p><%= @caption %></p> 
    </div><!--caption-->
  </div><!--imgholder-->
</div><!--row-->

<div class="row">
  <center>
  <p><%= link_to "Show Me Another!", root_path, class: "button" %></p>
  </center>
</div><!--row-->


